
@font-face {
    font-family: Nato;
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf) format('truetype');
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: stylish;
    src: url(../font/Stylish/Stylish-Regular.ttf) format('truetype');
    unicode-range: U+0041-005A,U+0061-007A;
}
body {
    background-color: #F5EEF8;
    font-family:'Nato','stylish';

} 
a {
    text-decoration: none;
}
.navigator {
    display: flex;
    align-items: center;
    margin-left: 200px;
    height: 40px;
}

.navigator li.nav-list {

    display: inline;
    font-size: 20px;
    font-weight: 700;
}

.navigator li.nav-list a.nav-btn {
    display: inline-block;
    color: black;
    height: 60px;
    width: 150px;
    text-align: center;
    line-height: 60px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;

}

.navigator ul.nav-group li.nav-list a.nav-btn:hover {
    background-color: #ddd;
}


.navigator .web-name {
    /* margin: 0; */
    font-size: 35px;
    color: #FFCA58;
}
.navigator h1.web-title {
    margin-left: 20px;
}

.navigator .web-name a,
.web-name a:visited {
    color: inherit;
}


.navigator .web-icon {
    display : inline-block;
    background-image: url('../icons/favicon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width : 40px;
    height: 40px;
    
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.frame {
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigator {
    display: flex;
    width: 100%;
    align-items: center;
}


.web-name {
    margin: 0;
    font-size: 35px;
    margin-left: 8px;
    color: #F27D0C;
}
.web-name a {
    text-decoration: none;
    color: inherit; 
}
.web-name a:visited {
    text-decoration: none;
    color: inherit;
}
.nav-menu {
    text-decoration: none;
    color: black;
}
.web-icon {
    display : inline-block;
    background-image: url('../icons/favicon.png');
    background-size: 200% 200%;
    background-repeat: no-repeat;
    width : 35px;
    height: 35px;
}


.image-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content {
    position: relative;
    max-width: 100%;
    max-height: 70vh;
}
.image-content img{
    width: 130vh;
    height: 80vh;
    object-fit: cover;
}

.image-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.big-text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 50px; 
    background-color: transparent;
    color: white;
    padding: 10px;
}

.small-text {
    position: absolute;
    bottom: 50px;
    right: 30px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    padding: 5px;
}

button img{
    width: 40px;
    height: 40px;
}